.content {
  padding-top: 72px;
  background:
    url('../../assets/images/pitch.webp') center top / cover no-repeat,
    $black;
}

@media (max-width: 768px) {
  .content {
    background:
      url('../../assets/images/pitch-mobile.webp') center top / cover no-repeat,
      $black;
  }
}
