@use 'colors' as *;

@mixin title-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 108px;
}

@mixin title-2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

@mixin title-3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

@mixin title-3-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

@mixin title-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin title-4-mobile {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin body-large {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@mixin body-normal {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin body-normal-bold {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@mixin body-small {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin body-extra-small {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin legal-text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@mixin orbitron {
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin custom-scrollbar(
  $width: 14px,
  $track-color: $black,
  $thumb-color: $gray-light,
  $track-radius: 15px,
  $thumb-radius: 15px,
) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
    @if $track-radius != null {
      border-radius: $track-radius;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $thumb-radius;
  }
}
