.logo {
  flex-shrink: 0;
}

.fallback {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $gray-medium;
  color: $white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
