.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.groupHeader {
  margin: 0;
  color: $white;
  @include title-3-bold;
}

.groupList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.matchLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.message {
  margin: 0;
  color: $white-transparent;
  @include body-normal;
}

@media (min-width: 1100px) {
  .filters {
    gap: 24px;
  }

  .groups {
    gap: 48px;
  }

  .groupHeader {
    @include title-3;
  }

  .groupList {
    gap: 16px;
  }
}
