.page {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.actions {
  position: relative;
  display: flex;
  gap: 12px;
}
