[defaults]
stdout_callback = yaml
callbacks_enabled = profile_tasks
host_key_checking = False
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles

cow_selection = random
cowsay_enabled_stencils=default,three-eyes,www,vader,tux
