.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 24px;
}

.message {
  margin: 0;
  padding: 24px 0;
  color: $white-transparent;
  text-align: center;
  @include body-normal;
}
