:root {
  --color-green: #b3ff3b;
  --color-red: #f14531;
  --color-white: #ffffff;
  --color-gray-light: #e5e5e5;
  --color-gray-medium: #525252;
  --color-gray-main: #313131;
  --color-black: #141414;
  --color-blue: #254166;
  --color-yellow: #ffe53b;
}
