.layout {
  min-height: calc(100vh - 80px);
  width: 100%;
  background-color: $background-black;
  background-size: 60%;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-image: url(@assets/logo-background.png);
}
