.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  gap: 24px;
  @include body-normal;
  color: $white;
}

.number {
  opacity: 0.6;
}

.actions {
  display: flex;
  gap: 8px;
}

.empty {
  @include body-normal;
  color: $white;
  opacity: 0.4;
}
