.a {
  font-family: 'IBMPlexSans';
  font-weight: 600;
  color: $blue;
}

.b {
  font-family: 'IBMPlexSans';
  font-weight: 500;
  color: $red;
}

.c {
  font-family: 'IBMPlexSans';
  font-weight: 400;
}
